[Desktop Entry]
Version=1.0
Type=Application
Name=Scanbro
Comment=Scan from a Brother scanner
Exec=scanbro
Icon=scanner
Terminal=false
Categories=Graphics;Scanning;Utility;
Keywords=scanner;brother;escl;duplex;ocr;pdf;
StartupNotify=true
StartupWMClass=scanbro
